.bg{
    background-color: #EAEAEA;
}

.w-img{
    width: 125px;
    height: 35px;
}
.w-icon{
    width: 2rem;
    color: #013D89;
}
hr{
    background-color: rgba(54, 51, 51, 0.318); 
    width: 100%;
  }
  .title-f{
    font-size: 22px;
    font-weight: bold;
    color: #013D89;
  }
  .attention{
    color: #013D89;
  }
  .attention:hover{
    color: #013D89;
    font-weight: bold;
  }

  .faq:hover{
    font-size: 23px; 
  }

  .bg-term{
    background-color: #013D89;
  }