<div class="container-fluid bg">

    <div class="container pt-5 pb-2">
        <div class="d-flex justify-content-between">
            <img src="/assets/img/logo.png" class="w-img" alt="">
         <a href="https://www.instagram.com/"><img src="/assets/icons/instagram.svg" class="w-icon cursor" alt=""></a>   
        </div>
        <hr>
        <div class="d-flex justify-content-between">
            <p ><span class="title-f cursor faq" routerLink="/preguntas-frecuentes">Preguntas Frecuentes</span></p>

            <div class="d-flex flex-column">
                <div class="p-2 title-f">Contáctanos</div>
                <div class="p-2">Reservaciones: 000 0-000-000</div>
                <div class="p-2 cursor attention">Atención por WhatsApp <img src="/assets/icons/whatsapp.svg" class="w-whats" alt=""></div>
              </div>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <p class="cursor attention" routerLink="/terminos-y-condiciones">Terminos y condiciones</p>
        </div>
    </div>

</div>
