<div class="container-fluid">
    <p style="font-size: 17px; font-weight: bold;">Renta incluye</p>
    <div class="pt-1 pb-3">
        <p class="p-1 text-info-t"><img src="/assets/icons/check-black.svg" width="15px" alt=""> Asistencia de viaje
            24/7 sin costo adicional</p>
        <p class="p-1 pr-2">Te respalda en caso de emergencia médica,
            cancelación de vuelo, pérdida de equipaje,
            robo de dinero en efectivo, celular o equipo de
            cómputo, entre otros beneficios para que viajes y
            disfrutes sin preocupaciones.</p>

        <p class="p-1"><img src="/assets/icons/check-black.svg" width="15px" alt=""> Kilometraje ilimitado</p>
        <p class="p-1"><img src="/assets/icons/check-black.svg" width="15px" alt=""> Protección limitada de
            responsabilidad hacia terceros (LI)</p>

    </div>
    <hr>

    <div class="pt-3 pb-3">
        <p class="p-1 text-info-t"> Información importante</p>

        <p>
            Es un hecho establecido hace demasiado
            tiempo que un lector se distraerá con el
            contenido del texto de un sitio mientras
            que mira su diseño. El punto de usar Lorem
            Ipsum es que tiene una distribución más o menos
            normal de las letras, al contrario de usar textos
            como por ejemplo "Contenido aquí, contenido aquí".
            Estos textos hacen parecerlo un español que se puede
            leer. Muchos paquetes de autoedición y editores de páginas
            web usan el Lorem Ipsum como su texto por defecto, y al hacer
            una búsqueda de "Lorem Ipsum" va a dar por resultado muchos
            sitios web que usan este texto si se encuentran en estado de
            desarrollo. Muchas versiones han evolucionado a través
            de los años, algunas veces por accidente, otras veces
            sa propósito (por ejemplo insertándole humor y cosas por el estilo).
        </p>
    </div>

    <hr>
</div>

<div class="container-fluid pt-3 pb-3">
    <div class="d-flex pt-3" [ngClass]="{'flex-column': isMobile,'justify-content-around': !isMobile}">
        <div class="img-bg" *ngIf="!isMobile">

        </div>
        <div [ngClass]="{'p-1': isMobile,'p-4': !isMobile}">
            <p style="font-size: 17px; font-weight: bold;">Requirimientos para la renta del auto</p>
            <p class="p-1 text-info-t"> Licencia de conducir vigente</p>
            <p class="p-1">
                Es un hecho establecido hace demasiado
                tiempo que un lector se distraerá con el
                contenido del texto de un sitio mientras
                que mira su diseño. El punto de usar Lorem
                Ipsum es que tiene una distribución más o menos
                normal de las letras, al contrario de usar textos
                como por ejemplo "Contenido aquí, contenido aquí".
            </p>
            <p class="p-1 text-info-t">Identificación oficial vigente con fotografía</p>
            <p class="p-1">
                Es un hecho establecido hace demasiado
                tiempo que un lector se distraerá con el
                contenido del texto de un sitio mientras
                que mira su diseño. El punto de usar Lorem
                Ipsum es que tiene una distribución más o menos
                normal de las letras, al contrario de usar textos
                como por ejemplo "Contenido aquí, contenido aquí".
            </p>
            <p class="p-1 text-info-t">Presentar tarjeta de crédito a nombre del titular de la renta</p>
            <p class="p-1">
                Es un hecho establecido hace demasiado
                tiempo que un lector se distraerá con el
                contenido del texto de un sitio mientras
                que mira su diseño. El punto de usar Lorem
                Ipsum es que tiene una distribución más o menos
                normal de las letras, al contrario de usar textos
                como por ejemplo "Contenido aquí, contenido aquí".
            </p>
            <p class="p-1 text-info-t">Edad minima para rentar un auto en Vlicars es de 21 años</p>
            <p class="p-1">
                Es un hecho establecido hace demasiado
                tiempo que un lector se distraerá con el
                contenido del texto de un sitio mientras
                que mira su diseño. El punto de usar Lorem
            </p>
        </div>
    </div>
</div>

<hr>

<div class="container pb-5">
    <div class="d-flex justify-content-around" style="width: 100%;" *ngIf="!isMobile">
        <div class="d-flex justify-content-center" style="width: 60%;">
            <img src="/assets/icons/calendar.webp" class="img-icon" alt="">
            <hr class="punteada">
            <img src="/assets/icons/car.webp" class="img-icon" alt="">
        </div>


    </div>
    <div class="row pt-2 pb-3">
        <div class="col-lg-6 p-2 text-center">
            <img *ngIf="isMobile" src="/assets/icons/calendar.webp" class="img-icon" alt="">
            <p style="font-size: 20px; font-weight: bold;">Hemos reservado tu auto para las fechas que eligiste</p>
            <p class="p-1">
                Es un hecho establecido hace demasiado
                tiempo que un lector se distraerá
            </p>
        </div>
        <div class="col-lg-6 p-2 text-center">
            <img *ngIf="isMobile" src="/assets/icons/car.webp" class="img-icon" alt="">
            <p style="font-size: 20px; font-weight: bold;">Te estaremos esperando a tu llegada</p>
            <p class="p-1">
                Es un hecho establecido hace demasiado
                tiempo que un lector se distraerá Es unblecido hace demasiado
                tiempo que un lector se distraerá Es un hecho establecido hace demasiado
                tiempo que un lector se distraerá
            </p>
        </div>
    </div>
</div>