.bg-container-web{
    height: 93vh;
    background-image: url(/assets/img/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-container-mobil{
  height: 93vh;
  background-color: #e1e1e1;
}
.form-mobil{
  background-color: #00000037;
  width: 100%;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.form-c{
    position: absolute;
    background-color: #00000037;
    margin-top: 30%;
    width: 90%;
    border-radius: 8px;
}
.img-w{
  width: 100%;
}
.form {
    border-radius: 8px;
    border-color: #b3b3b3 !important;
    width: 100%;
  }
  
  .form-control:focus {
    border-color: #013D89;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #013D89;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #013D89;
  }

  label .check1{
    width: 18px; 
    margin-top: -13px;
  }
  label {
    border: 1px solid #21252947;
    width: 15px;
    height: 15px;
    
  }
  
  input[type="checkbox"] + label .check1{
    opacity: 0;
   
  }
  
  input[type="checkbox"]:checked + label .check1 {
    
    opacity: 1;
  } 
  
  input[type="checkbox"] {
    display: none;
  }
.p-con{
    margin-top: 1rem;
}  
.m-input{
    margin-top: -0.4rem;
}
  .text{
    color: white;
  }
  .btn-form{
    width: 100%;
    background-color: #013D89;
  }
  .btn-reservar{
    width: 50%;
    background-color: #013D89;
  }
  .w-div-btn{
    width: 80%;
  }
  .img-carga {
    width: 100%;
    height: 240px;
    object-fit: contain;
  }
  .img-car{
    filter: brightness() grayscale(20%);
    width: auto;
  }
  .img-car-modal{
    width: 100%;
  }
  .s-drop{
    width: 100%; 
    background-color: white; 
    color: black; 
    border-radius: 8px;
    height: 110%;
  }
  .filter{
    width: 100%;
    margin-left: -20px;
    height: 15rem;
    background-color: rgba(38, 31, 31, 0.321);
    position: absolute;
    z-index: 1;
  }
  .dis-text{
    margin-top: 6rem;
    color: white;
  }

  .input-group-text {
    background-color: #FFFFFF !important;
    border: none solid #ced4da;
    border-radius: 0px 8px 8px 0px !important;

}

  @media (max-width: 1500px) {
    .form-c{
       
        margin-top: 30rem;
        width: 95%;
   
    }
  }

  @media (max-width: 900px) {
    .form-c{

        margin-top: 6rem;
        width: 85%;
       
    }
    .w-div-btn{
        width: 100%;
      }
      .img-car{
        width: 100%;
      }

      .term{
        color: #013D89;
       }

  }
  