<form [formGroup]="form">
    <!-- FORMULARIO PARTE 1 -->
  <div class="container-fluid" [ngClass]="{'bg-container-mobil': isMobile,'bg-container-web': !isMobile}">
    <div class="d-flex justify-content-center" [ngClass]="{'flex-column': isMobile}">
      <div [ngClass]="{'form-mobil': isMobile,'form-c': !isMobile}">

        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8">
              <div class="d-flex justify-content-start p-con">
                <div style="width: 100%;">
                  <p class="text">Ubicación del Reporte</p>
                </div>
              </div>

              <div class="row m-input ">
                <div class="col-lg-4 p-1">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle s-drop" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="material-symbols-outlined">
                        location_on
                        </span>
                      Selecciona tu Sucursal
                    </button>
                    <div class="dropdown-menu form-control" aria-labelledby="dropdownMenuButton">
                      <a (click)="ciudad('cordoba')" class="dropdown-item">Córdoba</a>
                      <a (click)="ciudad('orizaba')" class="dropdown-item">Orizaba</a>
                    </div>
                  </div>
                  <small class="text-warning"
                    *ngIf="!cordoba && !orizaba && error ||  form.get('direccionCordoba')?.hasError('required') && error ||  form.get('direccionOrizaba')?.hasError('required') && error">
                    {{getMessage('Selecciona ciudad y dirección')}}
                  </small>
                </div>
                <div class="col-lg-4 p-1" *ngIf="cordoba && !orizaba">
                  <select class="form-control" style="height: 2.5rem;" formControlName="direccionCordoba"
                    id="direccionCordoba" required>
                    <option value="" disabled selected>Córdoba</option>
                    <option *ngFor="let item of cordobaArray" [value]="item.direccion">{{item.direccion}}</option>
                  </select>
                </div>
                <div class="col-lg-4 p-1" *ngIf="orizaba && !cordoba">
                  <select class="form-control" style="height: 2.5rem;" formControlName="direccionOrizaba"
                    id="direccionOrizaba" required>
                    <option value="" disabled selected>Orizaba</option>
                    <option *ngFor="let item of orizabaArray" [value]="item.direccion">{{item.direccion}}</option>

                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-4 p-2">
              <p class="text pt-2">Fecha a entregar Equipo</p>
              <div class="d-flex ">
                <div class="p-2 m-input">
                  <input type="date" class="form-control form" placeholder="Fecha" formControlName="fechaEntrega">
                  <small class="text-warning" *ngIf="form.get('fechaEntrega')?.hasError('required') && error">
                    {{getMessage('La fecha es requerida')}}
                  </small>
                  <small class="text-warning" *ngIf="ErrordateEn">
                    {{getMessage('Error en las fechas')}}
                  </small>
                </div>
              </div>
            </div>

          </div>
          <div class="row pb-2">
            <div class="d-flex col-lg-6 text-end">
              <div class="ml-auto p-2 w-div-btn">
                <button type="button" class="btn btn-form btn-secondary" loadingButton (click)="send()">Selecciona Servicio</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- FORMULARIO PARTE 2 -->

    <div class="container-fluid text-center pt-5" *ngIf="autos">
        <h2>Selecciona servicio Solicitado</h2>
    
        <div class="row pt-5 pb-5">
          <div class="col-md-6 pb-3" *ngFor="let item of cars">
            <div class="card text-center">
              <div class="card-header">
                {{item.carBrand}}
              </div>
              <div class="card-body">
             
                <div class="d-flex flex-column">
    
                  <div class="p-2">
                    <img [src]="item.url" class="img-carga" alt="">
                  </div>
                  <div class="p-2">
                    <button class="btn btn-reservar btn-primary" (click)="reservar(item.carBrand,item.url)">Seleccionar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</form>

<!--FORMULARIO PARTE 3-->

<form [formGroup]="formDataUser">
    <div class="container pt-2 pb-4" *ngIf="userDatos">
      <div class="row de-flex justify-content-center">
        <h2>COMPLETA EL FORMULARIO</h2>
      </div>
      <div class="row pt-3">
  
        <div class="col-lg-7">
          <div class="row pt-3">
            <h2>Tus datos</h2>
          </div>
          <div class="row pt-3">
            <div class="col-lg-6">
              <p class="">Nombre</p><input formControlName="name" type="text" class="form-control">
              <small class="text-primary" *ngIf="formDataUser.get('name')?.hasError('required') && errorData">
                {{getMessage('EL nombre es requerido')}}
              </small>
            </div>
            <div class="col-lg-6">
              <p class="">Apellido Paterno</p><input formControlName="surname" type="text" class="form-control">
              <small class="text-primary" *ngIf="formDataUser.get('surname')?.hasError('required') && errorData">
                {{getMessage('El apellido es requerido')}}
              </small>
            </div>
          </div>
          <div class="row pt-3">
        
            <div class="col-lg-6">
              <p class="">Número telefonico</p><input onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" formControlName="cel" type="text" class="form-control" maxlength="10">
              <small class="text-primary" *ngIf="formDataUser.get('cel')?.hasError('required') && errorData">
              {{getMessage('El movil es requerido y debe de ser de 10 digitos')}}
            </small>
            </div>
            <div class="col-lg-6">
              <p class="">Correo electronico</p><input formControlName="email" type="text" class="form-control">
              <small class="text-primary" *ngIf="formDataUser.get('email')?.hasError('email') && errorData || formDataUser.get('email')?.hasError('required') && errorData">
                {{getMessage('El correo es requerido y debe ser valido')}}
              </small>
            </div>
          </div>
  
          <div class="row pt-3">
            <h2>Describe tu problema</h2>
          </div>
  
          <div class="row pt-3">
   
            <textarea formControlName="description" class="form-control"></textarea>
            <small class="text-primary" *ngIf="formDataUser.get('description')?.hasError('required') && errorData">
                {{getMessage('Tu descricción es obligatoria')}}
              </small>
            
          </div>
          <div class="row pt-3">
            <div class="col-lg-12">
              <p class=""><button type="button" class="btn btn-form btn-secondary" 
                   (click)="sendDatos()">Enviar</button>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="d-flex flex-column" *ngFor="let item of datos">
            <div class="p-1">
              <p style="font-size: 17px; font-weight: bold;">Lugar y fecha</p>
  
              <p class="pt-1"><img style="margin-top: -7px;" src="/assets/icons/calendar.svg" width="17px" alt="">
                Entrega:
                <span>Cordoba Parque 21 12/12/2021</span>
              </p>
            </div>
            <div class="p-1">
  
              <p style="font-size: 17px; font-weight: bold;">Tu servicio</p>
  
              <div class="row">
                <div class="col-md-6 p-2">
                  <p class="pt-1">{{item.auto}}</p>
                </div>
                <div class="col-md-6 p-2 d-flex justify-content-center">
                  <img [src]="item.url" class="img-car-modal" alt="">
                </div>
              </div>
  
            </div>
            <div class="p-2">
  
         
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>