<div class="container-fluid bg-container-web">

    <div class="d-flex flex-column text-center" [ngClass]="{'form-mobil': isMobile,'form-c': !isMobile}">
        <h1 [ngClass]="{'title-mobil': isMobile,'title': !isMobile}">Cancelaciones</h1>
        <p [ngClass]="{'sub-title-mobil': isMobile,'sub-title': !isMobile}">VLICARS</p>
    </div>

</div>

<div class="container pt-5 pb-5">
    <p class="cancel-t text-center pb-5">Podrás hacer la cancelación de tu vehículo escribiendo la siguiente información</p>

    <div class="row pt-5 pb-5 con-form">
        <div class="col-lg-4 p-2">
            <input formControlName="surname" type="text" class="form-control" placeholder="Escribe tu correo">
        </div>
        <div class="col-lg-4 p-2">
            <input formControlName="surname" type="text" class="form-control" placeholder="Ingresa tu número de reservación">
        </div>
        <div class="col-lg-4 p-2">
            <button type="button" class="btn btn-form btn-secondary">Busca tu reservación</button>
        </div>
    </div>
</div>
