.bg-container-web{
    height: 63vh;
    background-image: url(/assets/img/faq-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-c{
    position: absolute;
    background-color: transparent;
    margin-top: 10rem;
    width: 100%;
    border-radius: 8px;
}
.form-mobil{
    position: absolute;
    width: 100%;
    margin-top: 10rem;
  }
  .title{
    color: white;
    font-size: 70px;
}

.sub-title{
    color: white;
    font-size: 30px;
}
.title-mobil{
    color: white;
    font-size: 29px;
}

.sub-title-mobil{
    color: white;
    font-size: 25px;
}
.w-img{
    width: 125px;
    height: 35px;
}